<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_template_directory_uri() }}/assets/css/style.css">
  <title>My WordPress Theme</title>
</head>
<body>
  <h1>Hello {{ name }}!</h1>
</body>
</html>
